<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <player>
	<physics>
		<xspeed atr="1.0f"/>
		<initialspeed atr=" 0.02f"/>
		<jumpspeed atr="-0.22f"/>
		<gravity atr="0.0f"/>
		<jumpforce atr="0.38f"/>
		<jumpreset atr="0.38f"/>
		<gravityMax atr="0.25f"/>
		<gravityIterator atr="0.02f"/>
		<JumpforceIterator atr=" 0.0009f"/>
	</physics>
  </player>
	
  
  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>